---
section: "404"
pageid: "404"
bodyclass: "page-404"
title: "404 Page not found"

published: true
layout: page.hbs
---

<section>
    <h1>404</h1>
    <h2>Page not found</h2>
    <p>Hit the back button or return <a href="/">home</a>.</p>
</section>
