---
section: "Blog"
bodyclass: "page-blog"
post: true
layout: page.hbs

title: "Alternating Boxes"
pageid: "alternating-boxes"

intro: "Making the simple look complicated using Flex box layout and :nth-child selectors"

posted: 2015-03-18
published: false

---

<section>

    <h1>Alternating boxes</h1>
    <h2>Complex / Simple </h2>

    <p>After a very brief discussing about a layout with one of my designer colleagues I started to have a look at how it could actually be made. It turned out it was a bit harder than it first sounded.</p>

    <p>The initial concept was straight forward – an alternating grid of sections in a checker board layout. On small screens the sections would stack one on top of the other and as screen sizes get bigger the sections should align side by side in grid.</p>

    <p>####need a picture here##</p>

    This sounded to me like a job for <a href="https://developer.mozilla.org/en-US/docs/Web/Guide/CSS/Flexible_boxes" rel="external">flexbox layout</a>.

    <p>I Started out, as always, with clean semantic markup. This is just as series of sections. Notice there are no presentational classes.</p>



    Small Screen

    The Markup



    Started to look at how it could be coded HTML and CSS

    Responsive


    Drew out the options

    Break points

    Flex box

    nth-child and maths

    Simple idea complicated?


    <p></p>

    <div class="cta">
        <a href="http://codepen.io/rpstephenson/pen/YPRrPQ" rel="external">VIEW CODEPEN</a>
        <a href="https://github.com/rstphnsn/last-years-weather" rel="external">Code on GitHub</a>
    </div>

</section>