ErrorDocument 404 /404/index.html

AddOutputFilterByType DEFLATE text/html text/plain text/xml
AddOutputFilterByType DEFLATE text/css application/x-javascript
AddOutputFilterByType DEFLATE text/css text/html text/plain text/xml application/javascript

AddType application/vnd.apple.pkpass .pkpass