//  ## MODULE - NAVIGATION  ---------------------------------------------------------//

nav {
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 3;
}

nav ul {
    display: flex;
    margin: 0;
    padding: 0;
}

nav li {
    flex-grow: 1;
    list-style: none;
    overflow: hidden;
}

nav a {
    background-color: #000;
    color: #FFF;
    display: block;
    font-size: 10px;
    height: 40px;
    letter-spacing: 0.35em;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

@media screen and (min-width: 690px) {

    nav {
        left: 40px;
        right: 40px;
        top: 40px;
    }
}