
$benton-sans-light-url: "../fonts/benton-sans/light/de72ba14-fdff-4f82-9e20-0479255e5b5e-";
$benton-sans-thin-url: "../fonts/benton-sans/thin/46488cc0-1b8e-42e1-8696-27dd7e2eb01d-";
$benton-sans-book-url: "../fonts/benton-sans/book/0d25f632-e177-4738-a4eb-b5b2464ae8ef-";
$benton-sans-medium-url: "../fonts/benton-sans/medium/2b0077e1-94cf-4153-95b2-c6e2795e683e-";
$benton-sans-bold-url: "../fonts/benton-sans/bold/be373bac-8e60-4dee-b748-f43b0eda4588-";

@font-face {
    font-family: "Benton Sans Light";
    src: url("#{$benton-sans-light-url}2.eot");
    src: url("#{$benton-sans-light-url}2.eot?#iefix") format("embedded-opentype"),
         url("#{$benton-sans-light-url}3.woff") format("woff"),
         url("#{$benton-sans-light-url}1.ttf") format("truetype"),
         url("#{$benton-sans-light-url}4.svg#akqa-2014") format("svg");
    font-weight: normal;
    font-style: normal;
}

%benton-light {
    font-family: "Benton Sans Light", Arial, sans-serif;
}

@font-face {
    font-family: "Benton Sans Thin";
    src: url("#{$benton-sans-thin-url}2.eot");
    src: url("#{$benton-sans-thin-url}2.eot?#iefix") format("embedded-opentype"),
         url("#{$benton-sans-thin-url}3.woff") format("woff"),
         url("#{$benton-sans-thin-url}1.ttf") format("truetype"),
         url("#{$benton-sans-thin-url}4.svg#akqa-2014") format("svg");
    font-weight: normal;
    font-style: normal;
}

%benton-thin {
    font-family: "Benton Sans Thin", Arial, sans-serif;
}

@font-face {
    font-family: "Benton Sans Book";
    src: url("#{$benton-sans-book-url}2.eot");
    src: url("#{$benton-sans-book-url}2.eot?#iefix") format("embedded-opentype"),
         url("#{$benton-sans-book-url}3.woff") format("woff"),
         url("#{$benton-sans-book-url}1.ttf") format("truetype"),
         url("#{$benton-sans-book-url}4.svg#akqa-2014") format("svg");
    font-weight: normal;
    font-style: normal;
}

%benton-book {
    font-family: "Benton Sans Book", Arial, sans-serif;
}

@font-face {
    font-family: "Benton Sans Medium";
    src: url("#{$benton-sans-medium-url}2.eot");
    src: url("#{$benton-sans-medium-url}2.eot?#iefix") format("embedded-opentype"),
         url("#{$benton-sans-medium-url}3.woff") format("woff"),
         url("#{$benton-sans-medium-url}1.ttf") format("truetype"),
         url("#{$benton-sans-medium-url}4.svg#akqa-2014") format("svg");
    font-weight: normal;
    font-style: normal;
}

%benton-medium {
    font-family: "Benton Sans Medium", Arial, sans-serif;
}

@font-face {
    font-family: "Benton Sans Bold";
    src: url("#{$benton-sans-bold-url}2.eot");
    src: url("#{$benton-sans-bold-url}2.eot?#iefix") format("embedded-opentype"),
         url("#{$benton-sans-bold-url}3.woff") format("woff"),
         url("#{$benton-sans-bold-url}1.ttf") format("truetype"),
         url("#{$benton-sans-bold-url}4.svg#akqa-2014") format("svg");
    font-weight: normal;
    font-style: normal;
}

%benton-bold {
    font-family: "Benton Sans Bold", Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.15em;
    text-transform: uppercase;
}


h1 {
    @extend %benton-light;
    color: #FFF;
    font-size: 35px;
    font-weight: normal;
    line-height: 45px;
    margin: 0 0 20px;
}

h2 {
    @extend %benton-light;
    color: #FFF;
    font-size: 20px;
    font-weight: normal;
    line-height: 30px;
    margin: 35px 0 15px;
}

h1 + h2 {
    margin: -10px 0 30px;
}

h3 {
    @extend %benton-bold;
    color: #FFF;
    line-height: 20px;
    font-size: 12px;
    margin: 35px 0 15px;
    font-weight: normal;
}

p {
    @extend %benton-light;
    color: #FFF;
    line-height: 25px;
    font-size: 15px;
    margin: 0 0 20px;
}

.error {
    color: #F00;
}


@media screen and (min-width: 40em) {

}