//  ## VARIABLES  -------------------------------------------------------------------//

// Base Typography
$base--fontSize: 14px;
$base--fontFamily: "Open Sans", Arial, sans-serif;
$base--fontWeight: 300;

// Base Colors
$base--color: #FFF;
$base--linkColor: #0AC8FF;
$base--linkColorHover: darken($base--linkColor, 15%);

$base--backgroundColor: #1A1D22;
$base--ruleColor: #FFF;
$base--ctaColor: #FFF;
$base--ctaColorHover: #0AC8FF;


$breakpoint-one: 420px;
$breakpoint-two: 700px;