@charset "utf-8";

/*
---------------------------------------------------------------------------------------
MASTER SCSS FILE

--------------
NOTES
--------------
This file contains @import includes for all of the files that are compiled into the
master styles.css file

--------------
CONTENTS
--------------
## FRAMEWORK
## MODULES

---------------------------------------------------------------------------------------
*/


//  ## FRAMEWORK  -------------------------------------------------------------------*/

@import "libs/normalize.2.1.3";
@import "_variables";
@import "_typography";
@import "_layout";
@import "_common";


//  ## MODULES  ---------------------------------------------------------------------*/

@import "_module.header";
@import "_module.navigation";
@import "_module.footer";


//  ## PAGES  -----------------------------------------------------------------------*/

@import "_page.home";
@import "_page.sample";
