---
section: "CV"
pageid: "cv"
bodyclass: "page-cv"
title: "PROFILE / CV"

published: true
layout: page.hbs
---

<section>

    <h1>CV</h1>

    <div class="nav-in-section">
        <div class="cta">
            <a href="/cv/">Intro</a>
        </div>
        <div class="cta cta-active">
            <a href="/cv/profile/">Profile</a>
        </div>
        <div class="cta">
            <a href="/cv/recent-history/">Recent History</a>
        </div>
        <div class="cta">
            <a href="/cv/history/">History</a>
        </div>
    </div>

    <h2>Personal profile</h2>

    <p>I’m an experienced Principal Web Developer who specialises in producing high quality solutions in <a href="https://developer.mozilla.org/en-US/docs/Web/HTML"><abbr title="Hypertext Markup Language">HTML</abbr></a>, <a href="https://developer.mozilla.org/en-US/docs/Web/CSS"><abbr title="Cascading Style Sheets">CSS</abbr></a> &amp; <a href="https://developer.mozilla.org/en-US/docs/Web/javascript">JavaScript</a>. With over 15 years’ experience of planning and developing a wide variety of static and dynamic websites, I’ve worked on everything from single page web applications to multi-million page view property portals, with a number of <a href="http://www.adobe.com/uk/marketing-cloud/enterprise-content-management.html">Adobe <abbr title="Adobe Experience Manager">AEM</abbr></a> projects in between. Although I’m a keen advocate for <a href="https://en.wikipedia.org/wiki/Progressive_enhancement">progressive enhancement</a> I am an experienced <a href="https://angularjs.org">Angular.js</a> developer. I also like to get things done on the backend with <a href="https://nodejs.org/en">Node.js</a>, <a href="https://www.mongodb.org">MongoDB</a> and some occasional <a href="https://en.wikipedia.org/wiki/LAMP_(software_bundle)"><abbr title="Linux, Apache, MySQL &amp; PHP">LAMP</abbr></a>.</p>
    <p>Just some of the brands I’ve delivered projects for Nike, Audi, Mini, Barclays, Marks and Spencer, Bank of America, Travis Perkins, Lakeland, InterfaceFLOR, Asda, Think Property, Dr Martens, OTTO, BBC and Visit Manchester.</p>
    <p>As a confident and skilled communicator I’m more than comfortable dealing directly with clients and internal stakeholders. As a strategic thinker and natural problem solver I thrive on working as part of a team, and indeed leading one. I have a keen eye for detail and am always eager to acquire new skills and learn new technologies.</p>
    <p>My education and professional development has given me the following key qualities and skills:</p>

    <ul>
        <li>Expert level <abbr title="Hypertext Markup Language">HTML</abbr>, <abbr title="Cascading Style Sheets">CSS</abbr> &amp; JavaScript</li>
        <li>Extensive knowledge of web standards, usability and accessibility</li>
        <li>Front-end technical architecture</li>
        <li>Wireframing and prototyping</li>
        <li>User experience design</li>
    </ul>

    <p>
        <a href="/cv/recent-history/">View recent history</a>
    </p>

</section>