---
section: "Home"
pageid: "home"
bodyclass: "page-home"
title: "Home"

published: true
layout: page.hbs
---

<section class="masthead">
    <div>
        <picture>
            <source srcset="/assets/images/sail_2000x400@80.jpg" media="(min-width: 1200px)">
            <source srcset="/assets/images/sail_2000x600@60.jpg" media="(min-width: 700px)">
            <source srcset="/assets/images/sail_2000x1125@60.jpg" media="(min-width: 500px)">
            <img src="/assets/images/sail_1000x563@60.jpg" srcset="/assets/images/sail_1000x563@60.jpg" alt="Simple, smart, fast">
        </picture>
    </div>
</section>

<section>

    <h1>Simple, smart,&nbsp;fast</h1>
    <h2>High performance digital&nbsp;engineering</h2>

    <p>I’m Richard&nbsp;Stephenson, a website developer. Originally from <a href="http://en.wikipedia.org/wiki/Yorkshire" rel="external">Yorkshire</a>, I currently live in Portland, Oregon. I work for <a href="http://akqa.com" rel="external">AKQA</a> developing high performance web experiences for <a href="http://nike.com" rel="external">Nike</a> and others.</p>

    <p>Simple, smart, fast? Those are the keys to building world class websites.</p>

    <ul class="social-links">
        <li class="social-link-github">
            <a href="https://github.com/rstphnsn" rel="external">
                <img src="/assets/images/social-icon-github.svg" width="30" height="30" alt="GitHub icon">
                <span>GitHub</span>
            </a>
        </li>
        <li class="social-link-linkedin">
            <a href="http://www.linkedin.com/in/rstphnsn" rel="external">
                <img src="/assets/images/social-icon-linkedin.svg" width="30" height="30" alt="LinkedIn icon">
                <span>LinkedIn</span>
            </a>
        </li>
        <li class="social-link-twitter">
            <a href="https://twitter.com/rstphnsn" rel="external">
                <img src="/assets/images/social-icon-twitter.svg" width="30" height="30" alt="Twitter icon">
                <span>Twitter</span>
            </a>
        </li>
    </ul>

</section>