---
section: "CV"
pageid: "cv"
bodyclass: "page-cv"
title: "HISTORY / CV"

published: true
layout: page.hbs
---

<section>

    <h1>CV</h1>

    <div class="nav-in-section">
        <div class="cta">
            <a href="/cv/">Intro</a>
        </div>
        <div class="cta">
            <a href="/cv/profile/">Profile</a>
        </div>
        <div class="cta">
            <a href="/cv/recent-history/">Recent History</a>
        </div>
        <div class="cta cta-active">
            <a href="/cv/history/">History</a>
        </div>
    </div>

    <h2>Further career history &amp; education</h2>

    <div class="role">
        <h3>Producer / Lead Front-End Developer for Fudge, Manchester <span class="date-range">(Jun 2011-Mar 2012)</span></h3>
        <ul>
            <li>Managing website projects for Travis Perkins and the Business Growth Hub</li>
            <li>Gathering client requirements, identify opportunities and developing business solutions</li>
            <li>Leading the development of all major client projects</li>
        </ul>
    </div>

    <div class="role">
        <h3>Digital Manager for <a href="http://www.thechase.co.uk">The Chase</a>, Manchester <span class="date-range">(Aug 2010-Jun 2011)</span></h3>
        <ul>
            <li>Working as the digital consultant/advocate on all projects within the agency</li>
            <li>Front-end development on a range of new and existing projects</li>
            <li>Educating and training existing staff members</li>
        </ul>
    </div>

    <div class="role">
        <h3>Freelance Front-End Developer Manchester &amp; Leeds agencies <span class="date-range">(Jan 2010-Aug 2010)</span></h3>
        <ul>
            <li>Working on front-end development projects for <a href="http://storiesbylove.com/">Love Creative</a>, <a href="http://thisismn.com/">MagneticNorth</a>, <a href="http://www.twentysixdigital.com/">TwentySix</a>, <a href="http://slg.agency/">SLG Marketing</a> and AWA Digital</li>
            <li>Producing semantic and accessible <abbr title="Hypertext Markup Language">HTML</abbr> &amp; <abbr title="Cascading Style Sheets">CSS</abbr> websites</li>
            <li><abbr title="Content management system">CMS</abbr> (<a href="https://ellislab.com/expressionengine">ExpressionEngine</a> and <a href="https://en-gb.wordpress.org/">WordPress</a>) setup and development</li>
        </ul>
    </div>

    <div class="role">
        <h3>Freelance Front-End Developer for <a href="http://cheethambelljwt.com/">CheethamBell JWT</a>, Manchester <span class="date-range">(Oct 2009-Jan 2010)</h3>
        <ul>
            <li>Leading front-end development on the then new Magnet Kitchens website</li>
            <li>ExpressionEngine CMS development and integration</li>
        </ul>
    </div>

    <div class="role">
        <h3>Senior Front-End Developer for AWA Digital, Leeds <span class="date-range">(May 2007-Oct 2009)</span></h3>
        <ul>
            <li>Producing semantic and accessible <abbr title="Hypertext Markup Language">HTML</abbr> &amp; <abbr title="Cascading Style Sheets">CSS</abbr> websites</li>
            <li>JavaScript development</li>
            <li>User experience design and usability testing</li>
        </ul>
    </div>

    <div class="role">
        <h3>Freelance Website Designer / Developer <span class="date-range">(Apr 2006-May 2007)􏰀</span></h3>
    </div>

    <div class="role">
        <h3>Senior Website Designer / Developer for <a href="http://www.vebra.info/">Vebra PLC</a>, Pocklington <span class="date-range">(2002-2006)</h3>
    </div>

    <div class="role">
        <h3>Senior Website Designer for Paradigm ICT Ltd, Beverley <span class="date-range">(2001-2002)</h3>
    </div>

    <div class="role">
        <h3>Website Designer for Paradigm ICT Ltd, Beverley <span class="date-range">(1999-2001)</h3>
    </div>

    <div class="role">
        <h3>Junior Designer for Creativ Ltd, Driffield <span class="date-range">(1998)</h3>
    </div>

    <h2>Education</h2>
    <p>BA(Hons) Graphic Design - Specialising in Design for Screen, Coventry University, (1995-1998)</p>
    <p>B-Tec National Diploma in Foundation Studies in Art &amp; Design, York College (1994-1995)
    <p>4 A-levels and 10 GCSEs (all As and Bs), Pocklington School, East Yorkshire (1984-1994) </p>

</section>