    <nav class="site-navigation">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/blog/">Blog</a></li>
            <li><a href="/work/">Work</a></li>
        </ul>
    </nav>
