---
section: "Blog"
bodyclass: "page-blog"
post: true
layout: page.hbs

title: "Node Spotify Search"
pageid: "node-spotify-search"

intro: "Making the simple look complicated using Flex box layout and :nth-child selectors"

posted: 2015-05-18
published: false

---

<section>

    <h1>Node Spotify Search</h1>
    <h2>My first Node.js app</h2>

<p></p>

I recently completed the excellent <a href="http://www.teamtreehouse.com" rel="external">Treehouse</a> course on <a href="http://teamtreehouse.com/library/nodejs-basics">Node.js Basics</a> presented by my fellow Englishman in PDX Andrew <a href="https://twitter.com/chalkers" rel="external">Chalkers</a> Chalkley.

The course runs through building a simple app that gets profile information from the Treehouse API.

That was fine for a start but I wanted to do something with the Spotify API


basic express routing

Spotify API

deploying to heroku

http://node-spotify-search.herokuapp.com/




    <div class="cta">
        <a href="node-spotify-search.herokuapp.com" rel="external">VIEW DEMO</a>
        <a href="https://github.com/rstphnsn/node-spotify-search" rel="external">Code on GitHub</a>
    </div>

</section>