---
section: "Blog"
bodyclass: "page-blog"
post: true
layout: page.hbs

title: "Node Spotify Search"
pageid: "node-spotify-search"

intro: "Making the simple look complicated using Flex box layout and :nth-child selectors"

posted: 2015-05-18
published: false

---

<section>

    <h1>Node Spotify Search</h1>
    <h2>Creating a responsive grid layout using nth-child</h2>




    <div class="cta">
        <a href="node-spotify-search.herokuapp.com" rel="external">VIEW DEMO</a>
        <a href="https://github.com/rstphnsn/node-spotify-search" rel="external">Code on GitHub</a>
    </div>

</section>