---
section: "CV"
pageid: "cv"
bodyclass: "page-cv"
title: "RECENT HISTORY / CV"

published: true
layout: page.hbs
---

<section>

    <h1>CV</h1>

    <div class="nav-in-section">
        <div class="cta">
            <a href="/cv/">Intro</a>
        </div>
        <div class="cta">
            <a href="/cv/profile/">Profile</a>
        </div>
        <div class="cta cta-active">
            <a href="/cv/recent-history/">Recent History</a>
        </div>
        <div class="cta">
            <a href="/cv/history/">History</a>
        </div>
    </div>

    <h2>Recent career history</h2>

    <div class="role">
        <h3>Principal Web Developer for <a href="http://www.akqa.com">AKQA</a>, London <span class="date-range">(Aug 2015-Apr 2016)</span></h3>
        <ul>
            <li>Leading the development team on the Marks and Spencer Pass the Parcel Christmas campaign. Built using Angular.js and <a href="https://en.wikipedia.org/wiki/Representational_state_transfer"><abbr title="Representational State Transfer">REST</abbr></a> like <a href="https://en.wikipedia.org/wiki/Application_programming_interface"><abbr title="Application Programming Interface">APIs</abbr></a></li>
            <li>Setting code quality standards for all web development delivered from AKQA London</li>
            <li>Supporting the Head of Web Development as a member of the leadership team</li>
            <li>Providing technical architecture support across a range of clients</li>
        </ul>
    </div>

    <div class="role">
        <h3>Principal Web Developer for AKQA, Portland, Oregon <span class="date-range">(Aug 2013-Aug 2015)</span></h3>
        <ul>
            <li>Providing front-end technical architecture leadership across all projects delivered by AKQA Portland</li>
            <li>Lead developer on <a href="http://www.akqa.com">AKQA.com</a>. <a href="http://www.awwwards.com/sites/akqa">Awwward Site of the Day</a>, 4 July 2014</li>
            <li>Lead developer on <a href="https://www.akqa.com/work/nike/youryear">Nike Your Year</a> a website delivering 100,000 unique videos to runners</li>
            <li>Developing an app for managing the delivery of customised Apple Wallet passes to Nike event attendees</li>
            <li>Leading the front-end development of Nike Women’s Marathon app</li>
            <li>Rapid prototyping a number of Nike internal products using <a href="http://parse.com">Parse.com</a> the <a href="http://ionicframework.com">Ionic Framework</a> and <a href="https://www.firebase.com">Firebase</a></li>
            <li>Designing and developing REST APIs in Node.js and MongoDB</li>
            <li>Improving developer workflow and code quality via Grunt and Jasmine</li>
            <li>Supporting AKQA SF to deliver the new <a href="http://www.audiusa.com">Audi USA</a> site</li>
        </ul>
    </div>

    <div class="role">
        <h3>Senior Web Developer for AKQA, London <span class="date-range">(Mar 2012-Aug 2013)</span></h3>
        <ul>
            <li>Front-end development on a range of modules and pages for <a href="http://nike.com">Nike.com</a></li>
            <li>Leading the front-end development of the mobile version of Nike.com</li>
            <li>Developing Adobe CQ5 templates and components</li>
            <li>Lead developer on Nike PhotoID. A web app that created custom shoe designs from users’ Instagram images. <a href="http://webbyawards.com/winners/2014/advertising-media/media/best-use-of-social-media/nike-photoid/">Webby Award winner</a>.
        </ul>
    </div>

    <p><a href="/cv/history">View more history</a></p>

</section>