---
section: "Blog"
bodyclass: "page-blog"
post: true
layout: page.hbs

title: "Node REST API Framework"
pageid: "node-rest-api-framework"

intro: ""

posted: 2015-05-18
published: false

---

<section>

    <h1>Node REST API Framework</h1>
    <h2>Creating services using Node.js, Express &amp; MongoDB</h2>

    <p>I have recently been doing quite a lot of work using REST like APIs to add, update and delete JSON documents in a MongoDB database.</p>

    <p>In creating these REST services I’ve refined my node.js app down into a little framework that provides the core endpoints needed to do basic data manipulation using REST.</p>

    <p>https://github.com/rstphnsn/node-rest-api-framework</p>

    <div class="cta">
        <a href="http://weather.stphnsn.com" rel="external">View the app</a>
        <a href="https://github.com/rstphnsn/last-years-weather" rel="external">Code on GitHub</a>
    </div>

</section>