---
section: "Blog"
bodyclass: "page-blog"
post: true
layout: page.hbs

title: "Node REST API Framework"
pageid: "node-rest-api-framework"

intro: "Recently I have been doing a lot of work using REST-like APIs to add, update and delete JSON documents in a MongoDB database. I’ve refined the core of the latest Node.js app I wrote down into a framework that provides the endpoints needed to do CRUD operations."

posted: 2015-05-18
published: true

---

<section>

    <h1>Node REST API Framework</h1>
    <h2>CRUD services using Node.js, Express &amp; MongoDB</h2>

    <p>Recently I have been doing a lot of work using REST-like APIs to add, update and delete JSON documents in a MongoDB database.</p>

    <p>I’ve refined the core of the latest Node.js app I wrote down into a reusable framework.</p>

    <p>Full documentation is up on GitHub <a href="https://github.com/rstphnsn/node-rest-api-framework">https://github.com/rstphnsn/node-rest-api-framework</a>.</p>

    <div class="cta">
        <a href="https://github.com/rstphnsn/node-rest-api-framework" rel="external">View on GitHub</a>
    </div>

</section>