---
section: "Blog"
bodyclass: "page-blog"
post: true
layout: page.hbs

title: "Last Year’s Weather"
pageid: "last-years-weather"

intro: "Want to know if it’s hotter or colder than this time last year? Well now there’s an app for that."

posted: 2015-01-18
published: true

---

<section>

    <h1>Last Year’s Weather</h1>
    <h2>Building apps with Forecast.io API</h2>

    <p>We Brits are obsessed with the weather. Most conversations start with some reference to it. One standard discussion point the temperature and if it is warmer or colder than the same time last year. Well now you can find out by using my new web app <a href="http://weather.stphnsn.com" rel="external">Last Year’s Weather</a>.</p> 

    <p>Built using the <a href="https://developer.forecast.io/" rel="external">Forecast.io</a> API and HTML5 GeoLocation API it compares the weather - wherever you are  - with the historical record for last year (or yesterday, last week, or last month) and displays the temperature difference. And that’s pretty much it.</p>

    <p></p>

    <div class="cta">
        <a href="http://weather.stphnsn.com" rel="external">View the app</a>
        <a href="https://github.com/rstphnsn/last-years-weather" rel="external">Code on GitHub</a>
    </div>

</section>