---
section: "Blog"
bodyclass: "page-blog"
post: true
layout: page.hbs

title: "Stubbing REST services with PHP"
pageid: "stubbing-rest-services-with-php"

intro: "Want to know if it’s hotter or colder than this time last year? Well now there’s an app for that."

posted: 2015-01-18
published: true

---

<section>

    <h1>Stubbing out your REST services</h1>
    <h2>Quick and easy PHP craftiness</h2>

    <p>A lot of client side applications  use REST API calls to services endpoints</p> 

    <p>SOme time need to stub these out so that you can developer the front end while another developer takes care of the back end.</p>
    <p>Returning JSON</p>

Headers
    cross domain problems
    Returning JSON response

    urls

    <p>multiline content <a href="http://php.net/manual/de/language.types.string.php#language.types.string.syntax.heredoc" rel="external">Heredoc syntax </a></p>

    <div class="code-block">
    <h6>PHP</h6>
        <pre>
            <code>
&lt;div class="item" style="background:url('img/background-1.jpg');"&gt;
    &lt;img src="img/AM1.png" width="306" height="306"  alt="Transparent PNG"&gt;
&lt;/div&gt;</code>
        </pre>
    </div>



    <div class="cta">
        <a href="http://weather.stphnsn.com" rel="external">View the app</a>
        <a href="https://github.com/rstphnsn/last-years-weather" rel="external">Code on GitHub</a>
    </div>

</section>