---
section: "Feed"
page: "feed"
bodyclass: "page-feed"
title: "Feed"

published: true
layout: page.hbs
---
<div class="content" id="content">

{{#withSort post 'data.posted'}}
    {{#each this.pages }}
    <h2>{{this.data.title}}</h2>
    <p>{{this.data.introduction}}</p>
    <a href="{{ replaceStr this.dirname 'html' '' }}">{{ this.data.title }}</a>
    {{/each}}
  {{/withSort}}

</div>