---
section: "Blog"
bodyclass: "page-blog"
post: true
layout: page.hbs

title: "Progressive enhancement history"
pageid: "progressive-enhancement-history"

intro: "I’ve been doing a lot of work with REST API services recently but needed a quick way of stubbing some of them out. Here is a simple way of doing it in PHP."

posted: 2015-03-24
published: false

---

<section>

    <h1>Progressive enhancement history</h1>

    <h2>Using the History API to speed up your site</h2>

    <p>…</p>

</section>