{{> head }}
    <div class="container">
        <main class="main" id="main" data-page="{{this.pageid}}">
{{> body }}
        </main>
    </div>

    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/feed/">Feed</a></li>
            <li><a href="/work/">Work</a></li>
        </ul>
    </nav>

{{> bottom }}
