{{> head }}
    <div class="container">
        <main class="main" id="main" data-page="{{this.pageid}}">
{{> body }}
        </main>

        <div id="sidebar">
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/thoughts/">Thoughts</a></li>
                    <li><a href="/experience/">Experience</a></li>
                </ul>
            </nav>
        </div>

        <div id="showNav"></div>

    </div>
    <div class="background"></div>
{{> bottom }}
